/* .slick-slide > .img-card {
  margin: 0 10px;
} */
/* .app {
  width: 70%vw;
  height: 70%vh;
  background-color: rgb(56, 55, 55);
} */

.img-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 5rem;
  height: 500px;
  background-color: rgb(139, 209, 160);
  /* margin-bottom: 4rem; */
  border-radius: 15px;
  /* margin-left: 2rem;
  margin-right: 2rem;*/
  padding: 5px; 
}

.img-part {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 50%;
   border-radius: 7px;
   background-color: rgb(65, 118, 216);
   margin: 1px;
}

.img-part > img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.desc-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}